@font-face {
    font-family: Josefina Sans, system-ui;
    src: url(https://fonts.google.com/specimen/Josefin+Sans);
}

:root {
    /* ### Colors ###  */

    /*  Primary  */
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);

    /* ### Neutral  */
    --Dark-Grayish-Red: hsl(0, 6%, 24%);

    /* ### Gradients ### */
    --bg-gradient: linear-gradient(135deg,
            hsl(0, 0%, 100%),
            hsl(0, 90%, 92%));
    --button-gradient: linear-gradient(135deg,
            hsl(0, 80%, 86%),
            hsl(0, 74%, 74%));
}

*,
*::before,
*::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Josefina Sans,
        system-ui;
    user-select: none;
}

main {
    height: 100vh;
    display: flex;
}

.left {
    flex: 3;
    background: url("./images/bg-pattern-desktop.svg") center no-repeat;
    background-size: cover;
}

.centered {
    height: 100%;
    margin: 0 auto;
    max-width: 60%;
    padding: 5% 0;
}

.main-text::before {
    content: "we're";
    color: var(--Desaturated-Red);
    font-weight: 300;
}

.main-text {
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--Dark-Grayish-Red);
    letter-spacing: 2rem;
    font-weight: 600;
    margin-bottom: 2%;
    padding-block: 15% 5%;
}

.details {
    max-width: 50ch;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 2%;
    color: var(--Desaturated-Red);
    margin-bottom: 10%;
}

.right {
    flex: 2;
    background: url("./images/hero-desktop.jpg");
    background-size: cover;
}

.input-control {
    align-items: center;
    border: 1px solid var(--Desaturated-Red);
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    gap: 2%;
}

input {
    border: none;
    background-color: transparent;
    padding: 0 5%;
    font-size: 1.2rem;
    flex: 1;
    outline: none;
    font-size: 1.2rem;
}

input::placeholder {
    text-transform: capitalize;
}

button[type="submit"] {
    padding: 1rem 3rem;
    border-radius: 2rem;
    border: none;
    background: var(--button-gradient);
    transition: all 150ms linear;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: var(--bg-gradient);
    box-shadow: 2px 2px 30px 2px var(--Desaturated-Red);
    transform: scale(1.1);
}

.invalid {
    border: 3px solid var(--Soft-Red);
}

.error-icon {
    height: 50%;
    aspect-ratio: 1;
    border: 50%;
}

.error-icon img {
    height: 100%;
}

.err_msg {
    color: var(--Soft-Red);
    text-indent: 4ch;
}

/* mobile view */

@media only screen and (max-width:500px) {
    main {
        flex-direction: column-reverse;
        display: flex;
        justify-content: center;
        width: 100%;
        overflow: hidden;
    }

    .right {
        background: url("./images/hero-mobile.jpg") no-repeat;
        background-size: 100%;
        margin-top: 20%;
        width: 100%;
    }

    .logo {
        position: absolute;
        top: 0;
        padding: 5%;
        transform: scale(.7);
    }

    .centered {
        min-width: 100%;
        text-align: center;
    }

    .main-text {
        font-size: 2.5rem;
        letter-spacing: .8rem;
        padding: 0 10%;
    }

    .details {
        font-size: .8rem;
        text-align: center;
        padding: 0 10%;
        line-height: 2;
        margin: 5% auto;
    }

    .input-control {
        max-width: 80%;
        margin: 0 auto;
    }

    button[type="submit"] {
        padding: 4% 8%;
    }
}